<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @trade.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @trade.description %>
</p>

<%= link_to 'Edit', edit_trade_path(@trade) %> |
<%= link_to 'Back', trades_path %>
